/*
 * customize
 *
 * In addition to the original lanyon.css
 */

/* font */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Source Han Sans", "Noto Sans CJK", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, "Source Han Sans", "Noto Sans CJK", sans-serif;
}

sidebar {
  font-family: Helvetica, Arial, "Source Han Sans", "Noto Sans CJK", sans-serif;
}

.pagination {
  font-family: Helvetica, Arial, "Source Han Sans", "Noto Sans CJK", sans-serif;
}

code, pre {
  font-family: "Source Code Pro", Menlo, Monaco, "Courier New", monospace;
  color: inherit;
}

.gist .gist-file {
  font-family: "Source Code Pro", Menlo, Monaco, "Courier New", monospace !important;
}


/* add post author in index.html and _layouts/post.html */

.post-date {
  display: inline; /* reset the setting in lanyon and poole */
  color: #515151; /* the same color as the body so it's harmony with post author */
}



/* img center and width */

img {
  clear: both;
  display: block;
  margin: auto;
  max-width: 100%;
}


/* head-nav */

.head-nav {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
.head-nav a {
  color: #505050;
}
.head-nav a.head-nav-item.active {
  text-decoration: underline;
}

@media (max-width: 48em) {
  .head-nav {
    text-align: center;
  }
}


/* footer */

footer {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  line-height: 80%;
  margin-bottom: 3rem;
}
@media (max-width: 30em) {
  footer{
    margin-top: 3rem;
  }
}
@media (max-width: 48em) {
  footer {
    text-align: center;
  }
}
