<!-- Any additional snippets here -->

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.2.min.js"></script>


<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      displayMath: [['$$','$$'], ['\\[','\\]']],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


{% if page.require_tag_cloud %}
{% comment %}
  The code here is basically for archive.html. Because it requires jQuery, so the snippet has to be put separately here.
{% endcomment %}
<script type="text/javascript" src="{{ site.baseurl }}/public/js/jquery.tagcloud.js"></script>
<script language="javascript">
  /*
   * The code is modified from the source
   * of http://yihui.name/en/tags/.
   */
  $.fn.tagcloud.defaults = {
    size: {start: 1, end: 1, unit: 'em'},
    color: {start: '#e6e6e6', end: '#000000'}
  };
  $(function () {
    $('#tag-cloud a').tagcloud();
  });

  $('#select-all-button').click(function(event){
    //event.preventDefault();
    $('#select-all-button').css('text-decoration', 'underline');
    $('#all-posts').show();
    $('#select-tag-button').css('text-decoration', 'none');
    $('#tag-cloud').hide();
    $('#posts-in-tags').hide();
  });
  $('#select-tag-button').click(function(event){
    //event.preventDefault();
    $('#select-all-button').css('text-decoration', 'none');
    $('#all-posts').hide();
    $('#select-tag-button').css('text-decoration', 'underline');
    $('#tag-cloud').show();
    $('#posts-in-tags').show();
  });
</script>
{% endif %}
