  <nav class="head-nav">
    {% capture real_baseurl %}{{ site.baseurl }}/index.html{% endcapture %}
    <a class="head-nav-item{% if page.url == real_baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a head nav of pages with
      `layout: page` in the front-matter. Modified from lanyon sidebar.html. See original readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="head-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}.html">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>
