h1{
	margin-bottom: 1em;
}
blockquote p{
	font-size: 20px;
}
ol, ul{
	list-style: none;
}
.listing-item, .listing-seperator {
	list-style-type: none;
}
.listing-seperator {
	font-weight: bold;
}
.listing-item a {
	padding: .2em 1em;
}
header{
	text-align: center;
}